document.getElementById("productForm").addEventListener("submit", function(e) {
    e.preventDefault();
  
    const getValue = id => document.getElementById(id).value;
  
    const productA = {
        name: getValue("nameA"),
        image: getValue("imageA"),
        price: +getValue("priceA"),
        ram: +getValue("ramA"),
        storage: +getValue("storageA"),
        camera: +getValue("cameraA"),
        battery: +getValue("batteryA"),
      };
      const productB = {
        name: getValue("nameB"),
        image: getValue("imageB"),
        price: +getValue("priceB"),
        ram: +getValue("ramB"),
        storage: +getValue("storageB"),
        camera: +getValue("cameraB"),
        battery: +getValue("batteryB"),
      };
  